<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Instancia de VueJS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css">
</head>
<body>
    <section id="app" class="hero is-success is-fullheight">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Vue
            </h1>
            <h2 class="subtitle">
              By Leonis Ocampo Nieves
            </h2>

            <table class="table is-fullwidth">
                <tbody>
                    <tr v-if="items.length === 0">
                        <td class="has-text-centered" colspan="4">No se han encontrado registros</td>
                    </tr>
                    <tr v-for="item in items" :class="item.enabled ? '' : 'has-text-grey-light'">
                        <td>{{item.name}}</td>
                        <td>
                            <a :href="item.web" :class="item.enabled ? '' : 'has-text-grey-light'">Visitar Web</a>
                        </td>
                        <td>{{item.salary | currency}}</td>
                        <td style="width: 100px;">
                            <button @click="changeStatus(item)" 
                                    :class="{'is-danger': !item.enabled, 'is-primary': item.enabled}"
                                    class="button is-small is-fullwidth" type="button">
                                {{item.enabled ? 'Activo' : 'Inactivo'}}
                            </button>
                            <!--<span v-if="item.enabled" class="has-text-success">Activo</span>
                            <span v-else class="has-text-danger">Inactivo</span>-->
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td>
                        <input v-model="newEntry.name" type="text" class="input" placeholder="Nombre">
                    </td>
                    <td>
                        <input v-model="newEntry.web" type="text" class="input" placeholder="Web">
                    </td>
                    <td>
                        <input v-model="newEntry.salary" type="number" class="input" placeholder="Sueldo">
                    </td>
                    <td class="text-right">
                        <button @click="add" type="button" class="button is-fullwidth">Agregar</button>
                        <!--<button v-bind:click="add" type="button" class="button is-fullwidth">Agregar</button>-->
                    </td>
                </tfoot>
            </table>

            <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Activos</p>
                    <p class="title">{{countActiveUsers}}</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Inactivos</p>
                    <p class="title">{{countInactiveUsers}}</p>
                  </div>
                </div>
            </nav>
           </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        const app = new Vue({
            el: '#app',

            data: {
                items: [],

                newEntry: {
                    name: '',
                    web: '',
                    salary: 0,
                    enabled: true
                }
            },

            methods: {
                add() {
                    this.items.push({
                        name: this.newEntry.name,
                        web: this.newEntry.web,
                        salary: parseFloat(this.newEntry.salary),
                        enabled: this.newEntry.enabled
                    });

                    this.newEntry.name = '';
                    this.newEntry.web = '';
                    this.newEntry.salary = 0;
                    this.newEntry.enabled = true;
                },

                changeStatus(item) {
                    item.enabled = !item.enabled;
                }
            },
            /*
                Permite observar  el comportamiento de nuestras propiedades
            */
            watch: {
                countActiveUsers(newValue, oldValue) {
                    console.log('-------- Usuarios activos --------');
                    console.log(`Nuevo valor: ${newValue} Valor antiguo: ${oldValue}`);
                    console.log('-------- Usuarios activos --------');
                }
            },

            /*
                Las propiedades computadas son propiedades calculadas,
                es decir, que se calculan en base a una lógica
            */
            computed: {
                countActiveUsers() {
                    return this.items.filter(x => x.enabled).length;
                },

                countInactiveUsers() {
                    return this.items.filter(x => !x.enabled).length;
                }
            },

            filters: {
                currency(value) {
                    //debugger;
                    return value.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
                }
            }
        })
    </script>
</body>
</html>